
p{
	color: red;
}
p.wdrp{
	width: 20em;
	border: 1px solid #333;
	word-wrap: break-word;
}

#box{
	width:100px;
	height: 100px;
	border: 10px solid;
	padding: 20px;
	margin: 10px;
	overflow: auto;
	border-top-left-radius: 40px 20px;
	border-bottom-right-radius: 20px;
}

#box2{
	height: 100px;
	widows: 150px;
	border: 1px solid blue;
	border-top-left-radius: 40px 20px;
	border-bottom-right-radius: 20px;
}

#box3{
	width: 300px;
	height: 100px;
	background-color: #f90;
	box-shadow: 10px 10px 5px #888;
}

#rotatediv{
	width: 300px;
	height: 100px;
	background-color: #008000;
	
	transform: rotate(30deg);
}



.line{
	height: 1px;
	width:500px;
	border-top: 1px solid #e5e5e5;
}


#newsimglist{
	text-align: center;
	font-size: 0;
	float:left;
}

#newsimglist img{
	height: 100px;
	widows: 100px;
	margin-left: 5px;
	border: 1px solid #0cf;
	padding: 5px;
}

#textsd{
	color: blue;
	text-shadow: 2px 2px 4px #FF0000;
}

#imgscale{
	transform:scale(1.2);
}

div{
	height: 30px;
	widows: 100px;
	line-height: 30px;
	border-radius: 5px;
	color:#000;
	background-color: silver;
	transition:all 1s linear;
}
div:hover{
	color:white;
	background-color: #45B823;
}

@keyframes  mycolor{
	0% {background-color:red;}
	30% {background-color: blue;}
	60% {background-color:yellow;}
	100% {background-color:green;}	
}
div:hover{
	animation: mycolor 5s linear;
}


#stage{
	width:300px;
	margin:100px auto;
	perspective:100px;
}
.box{
	width: 100px;
	height: 100px;
	float:left;
	transition:linear 1s;
	transform-style: preserve-3d;
}
img{
	width:100px;
	height:75px;
}
.x:hover{
	transform:rotateX(60deg);
}
.y:hover{
	transform:rotateY(60deg);
}
.z:hover{
	transform:rotateZ(60deg);
}

